@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*===============COMMON CSS===========*/

h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins';
}
p{
    font-family: 'Open Sans';
}
a{
    text-decoration: none;
    font-family: 'Open Sans';

}
.container-fluid{
  max-width: 1400px;
}
/*==============navbar=================*/
.navbar.navbar-expand-md{
  display: none;
}

.navbar-dark .navbar-toggler-icon{
  background-image: url(../images/menu.png) !important;
  background-position: center center;
background-size: contain;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 0px;
  
    
    background: transparent;
}
.navbar-nav{
  background:  #f8f8f8;
  
  width: 100px;
}
.nav-link{
  padding: 15px 1rem;
}
.navbar-dark .navbar-brand{
  font-size: 28px;
}
.navbar-brand{
  font-size: 56px;
  font-weight: 800;
  color: #8e2b88;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to bottom, black 60%, #fab702 40%);
/* background: linear-gradient(to bottom, yellow 50%, red 50%);*/
 -webkit-background-clip: text;
 position: relative;
}
.navbar-brand:after{
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background:#fab702;
    right: -5px;
    bottom: 14px;

}
.nav-item ul{
list-style: none;
padding: 5px 0px;
}
.nav-item ul li {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.nav-item ul li a {
  color: black
}
/*==============SIDE FIX DIV=======*/
.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f8f8;
  overflow-x: hidden;
  padding-top: 20px;

}

.sidenav a {
  /*padding: 6px 8px 6px 16px;*/ 
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #e4e4e4;
  padding-bottom: 5px;

}
.sidenav a .logo{
    font-size: 54px;
  font-weight: 800;
  color: #8e2b88;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to bottom, black 60%, #fab702 40%);
/* background: linear-gradient(to bottom, yellow 50%, red 50%);*/
 -webkit-background-clip: text;
 position: relative;
}
.sidenav a .logo:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background:#fab702;
    right: -10px;
    bottom: 19px;

}

.sidenav ul {
    list-style: none;
    padding-left: 0px;
    border-bottom: 2px solid #e4e4e4;
}
.sidenav ul li {

}
.sidenav ul li a{
    padding: 0px;
    width: 100px;
    height: 50px;
    border:none;    
}
.sidenav ul li a i {color: black;font-size: 17px;}

.main {
   margin-left: 100px;
   
     background-position: right; 
    background-repeat: no-repeat;
    /*padding: 120px 0px;*/
    background-position-x: 600px;
    background-position-y: -100px;

       
}


.heading h5{ font-size: 25px; font-weight: bolder;color: black;}
.heading h2{ font-weight: bolder;color: black;}
.heading p{ max-width: 700px;width: 100%; font-size: 19px;font-weight: lighter;}
.heading a{
    display: inline-block;
    width: 160px;
    height: 40px;
    background:#fab702;
    color: black;
    text-align: center;
    vertical-align:middle;
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bolder;
    text-decoration: none;
}

.heading span {
    margin-left: 25px;
    font-family: 'Poppins';
    font-size: 15px;

}



/*=================PROJECT SLIDER============*/
.project-slider{
    padding: 150px 0px; 
    margin-left: 100px;
}
.project-slider .details{
    text-align: right;
    margin-top: 172px;
}
.project-slider .details h1{
    font-weight: bolder;
    font-size: 55px;
    text-transform: capitalize;
    color: black;
}
.project-slider .details p {
    font-size: 17px;
}

.wrapper {
  word-wrap: break-word;
  width: 90%;
  padding: 2rem 0;
}

.wrapper,
.container2 {
  margin: 0 auto;
}

.container2 {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  max-width: 62.5rem;
  height: 35.1875rem;
  line-height: 0;
  background-image: url(../images/background2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
}

.slideDiv,
.controls {
  position: absolute;
}

.slideDiv{
  width: 100%;
  height: 100%;
  
}
.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slide {
  background-size: cover;
}
.slide h1{
  color: white;
  margin-top: 10px;
}

.slide:first-child {
  
}

.slide:nth-of-type(2) {
 
}

.slide:last-child {
}

.controls {
  top: 45%;
  right: -12px;
  padding: 0 0.63rem;
  z-index: 5;
  text-align: center;
}

.button { 
  width: 0.9375rem;
  height: 0.9375rem;
  display: block;
  cursor: pointer;
  border-radius: 50%;
  transition: all ease .2s;
}

.button:not(:last-child) {
  margin-bottom: 0.63rem;
}



.button {
  border: 1px solid #fff;
  opacity:1;
  outline: none;
  background-color: white;
}

.button:hover,
.button:focus {
  opacity: 1;
}

.selected {
  background-color: #fab702;
}

.hire{
     position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    background-image: url(../images/btn1.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 116px;
    height: 115px;
    padding: 57px 0px;
    font-size: 17px;
    color: black;
    font-weight: 800;

}
/**/
/*===================SKILLS SECTION========================*/
.skills-section{
  padding: 50px 0px;
  margin-left: 100px;
}
.skills{
    background-color: #ddd;
    width: 100%;
    max-width: 480px;
    height: 7px;
    position: relative;
    margin: 70px 0px;
    border: 20px;
    border-radius: 25px;
}
.title-bar{
  position:absolute;
  top:-45px;
  margin:5px;
  font-family: 'Open Sans';
  font-size: 15px;
}
.skills span {
  float:right;
  margin-top:-40px;
  margin-right:5px;
  border:20px;
    font-family: 'Open Sans';
}

.skillbar{
    background-color: #fab702;
    width: 0px;
    height: 7px;
    border: 20px;
    border-radius: 25px;
}


/*===========skill details==========*/

.skill-details{ 
  margin-top: 20px;
}
.skill-details h1{
font-size: 30px;
color: black;
margin-bottom: 0px;
font-weight: bold;
}

.skill-details h2{
font-size: 30px;
color: black;
font-weight: bold;
}
.skill-details a{
  background: black;
  padding: 13px;
  width: 189px;
  height: 50px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  text-decoration: none;
  font-weight:lighter;
  text-transform: uppercase;
  margin-top: 30px; 
}


/*=====================GALLERY=========================*/

.gallery{margin-left: 100px;}
/* Center website */
.main2 {
  max-width: 1000px;
  margin: auto;
}
.main2 .center-tab{
  text-align: center;
  margin: 0 auto;

}
h1 {
  font-size: 50px;
  word-break: break-all;
}

.row2 {
  margin: 10px 0px;
}

/* Add padding BETWEEN each column */
.row2,
.row2 > .column2 {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column2 {
  float: left;
  width: 33.33%;
  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row2:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}
.content h4{
  font-size: 19px;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 10px;
}
.content p{
  font-size: 14px;
  color: #cdcdcd;
}
/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Open Sans';
}

/*.btn:hover {
  background-color: #ddd;
}*/

.btn.active {
  /*background-color: red;*/
  color:black;
  position: relative;
}
.btn.active:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 25px;
  height: 3px;
  background: black;
}
  
/*=====================FOOTER=================*/
footer{
  padding: 100px 0px;
  background: #202020;
  position: relative;
  z-index: 11;
}
.footer-logo{
  position: relative;
  display: inline-block;
}
.footer-logo h2 {
  font-size: 33px;
  font-weight: 800;
  color: #8e2b88;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to bottom, white 60%, #fab702 40%);
/* background: linear-gradient(to bottom, yellow 50%, red 50%);*/
 -webkit-background-clip: text;
 position: relative;
 display: inline-block;

}

.footer-logo h2:after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background:#fab702;
    right: -15px;
    bottom: 6px;

}

.footer-logo p{
  font-size: 14px;
  color: #dfdfdf;
  margin-top: 25px;
}

.footer-logo a{
  font-size: 14px;
  color: #dfdfdf;
  text-decoration: underline;
  margin-top: 24px;
}


.recent-news h6 {
color: white;
font-weight: bolder;
font-size: 20px;
text-decoration: underline;
padding-bottom: 2px;
}

.recent-news p{
  color: white;
  font-size: 14px;
font-family: 'Poppins';
margin-top: 40px;
}

.recent-news span{
 color: white; 
 margin-top: 40px;

}

.recent-news span i {
  color: #fde422;
}

.twitter-feed h6 {
color: white;
font-weight: bolder;
font-size: 20px;
text-decoration: underline;
padding-bottom: 2px;
}

.twitter-feed p{
  color: white;
  font-size: 17px;
font-family: 'Poppins';
font-weight: 500;
margin-top: 40px;
margin-bottom: 0px; 
}
.twitter-feed .bears{

  font-size: 14px;
  color: #7d7d7d;
  text-decoration: underline;
}
.twitter-feed .tfeed2{
  margin-top: 30px;
}
.twitter-feed .tfeed2{
  border-top: 1px solid #7d7d7d;
}

.twitter-feed .tfeed2 p{
  color:#7d7d7d;
  font-size: 17px;
font-family: 'Poppins';
font-weight: 500;
margin-top: 10px;
margin-bottom: 0px; 
}

.twitter-feed .tfeed2 span{
  display: inline-block; 
  color: #a6a6a6;
  margin-top:15px;
}

.contact h6 {
color: white;
font-weight: bolder;
font-size: 20px;
text-decoration: underline;
padding-bottom: 2px;
}

.contact p{
    color:#7d7d7d;
  font-size: 15px;
font-family: 'Poppins';
font-weight: 500;
margin-top: 40px;
margin-bottom: 0px; 
}
.contact .cnt-details {
  margin-top: 30px;
}
.contact .cnt-details p{
  font-size: 13px;
  text-decoration: underline;
  margin-bottom: 5px;
  margin-top: 0px;
}
.contact .cnt-details p span{
  color: white;
  font-weight: bolder;
  font-size: 13px;
  margin-right: 4px;
}
.social-icon{
  list-style: none;
  padding-left: 0px;
  margin-top: 30px;
}
.social-icon li {
  display: inline-block;
  margin-right: 10px;

}
.social-icon li a{
  color: white;
  padding: 8px 10px;
  border-radius: 100%;
  transition: 0.2s linear;
}
.social-icon li a:hover{
  background:#9bdff6;
  color: black;

}

.copyright{
  background: #161616;
  position: relative;
  z-index: 111;
  text-align: center;
  padding: 8px 0px;
}
.copyright p{
  margin-top: 20px;
  color: #616262;
}

/*===========================*/




@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media(min-width: 1600px){
   .main{
    padding: 408px 0px;
  background-position-x: 0px;
    background-position-y: -200px;
    background-size: cover;
 }

}
@media(max-width: 1200px){
  .heading{padding: 000px 0px 0px 0px}
  .hire{
    bottom:36px;
  }

}
@media(max-width: 992px){
  .main{
  background-position-x: 416px;
    padding: 72px 0px;
    background-position-y: -200px;
    background-size: cover;
 }
  .heading{padding: 50px 0px 0px 0px}
  .project-slider{padding: 50px 0px;}
  .hire{
    bottom: 80px;
  }
}
@media(max-width: 800px){
  .slide h1{
    font-size: 15px;
  }
    .hire{
    bottom: 75px;
    }
    .project-slider .details h1{
      font-size: 40px;
    }

    /*====gallery===*/
    .column2{
      width: 100%;
    }
  }
@media(max-width: 767px){

     .sidenav{
      display: none;
    }
    .navbar.navbar-expand-md{
  display: block;
  display: flex;
}

    .navbar-expand-md{
      display: block;
     position: sticky !important;
    top: 0;
    z-index: 111;
    }
    .navbar{
     /* visibility: visible*/;
      background: #f8f8f8;  
    
    }
     .back-img img {
    
    display: none;
  }  
  .main{
    margin-left: 0px;
    padding: 10px 0px;
  }
  .project-slider{
    margin-left: 0px; 
    padding: 0px;
  }
  .project-slider .details{
    margin-top: 0px;
  }
  .gallery{
    margin-left: 0px;
  }
  .skills-section{
    margin-left: 0px;
  }
  .heading{padding: 20px 0px 0px 0px}
 .hire{bottom: 50px; }

}

@media(max-width: 765px){

 .hire{
    bottom: 0px;
    }

}

@media(max-width: 575px){
  .hire{
    bottom: 10px;
  }
}
@media(max-width: 570px){
  .main{
    padding: 50px 0px;
  }
  .heading span{
    margin-left: 0px;
    margin-top: 15px;
  }

}
@media(max-width: 500px){
 
  .main{
    background-position-x: 0px;
    padding: 50px 0px;
    background-position-y: 0px;
    background-size: cover;
 }
  .container2{
    height:25.1875rem;
  }
  .project-slider{padding: 0px 0px;}
  .hire{
    bottom: -30px;
  }
  .slide img{
    width: 50px;
  }
  .slide h4{
    font-size:14px;
  }
  .project-slider .details h1{
      font-size: 30px;
    }
}
@media(max-width: 425px){
  .hire{
    bottom: 0px;
  }
  .slide img{
    width: 50px;
  }
  .slide h4{
    font-size:14px;
  }
  .project-slider .details h1{
      font-size: 25px;
    }
    .main{
      padding: 0px;
    }

}

@media(max-width: 400px){
  .hire{
    bottom: 0px;
    font-size: 15px;
  }
}

@media(max-width: 380px){
   .project-slider .details h1{
      font-size: 20px;
    }
}